# Ignoring swap files from emacs

*~
~*
*#
\#*
.#*

# Ignore R cruft
*.Rhistory

# Ignore images
*.png

# Ignore MATLAB, Octave crashes
octave-workspace

# Ignore external files that are not categorised yet
_extern/*
*.pyc
analysis/Subject1.RData
analysis/Subject10.RData
analysis/Subject11.RData
analysis/Subject12.RData
analysis/Subject13.RData
analysis/Subject14.RData
analysis/Subject15.RData
analysis/Subject16.RData
analysis/Subject17.RData
analysis/Subject18.RData
analysis/Subject19.RData
analysis/Subject2.RData
analysis/Subject20.RData
analysis/Subject21.RData
analysis/Subject22.RData
analysis/Subject23.RData
analysis/Subject24.RData
analysis/Subject25.RData
analysis/Subject26.RData
analysis/Subject27.RData
analysis/Subject28.RData
analysis/Subject3.RData
analysis/Subject4.RData
analysis/Subject5.RData
analysis/Subject6.RData
analysis/Subject7.RData
analysis/Subject8.RData
analysis/Subject9.RData
