{% extends "main.html" %}
{% block title %}Plain Language Statement ({{ exp_name }}) - Vision and Attention Lab {% endblock %}
{% block heading %}Plain Language Statement{% endblock %}
{% block content %}
<div>
  PROJECT TITLE:  Response Modalities and Memory Constraints in Decision Making
</div>
<div>
  <table>
    <tr>
      <td>
        Prof Philip Smith (Principal Researcher)
      </td>
      <td>
        Tel: 8344 6378; email: philipls@unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Dr Simon Lilburn (Research Fellow)
      </td>
      <td>
        email: lilburns@unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Dr Elaine Corbett (Research Fellow)
      </td>
      <td>
        email: elaine.corbett@unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Mr Chris Baumgartner (Honours Student)
      </td>
      <td>
        email: cbaumgartner@student.unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Mr Kumar Sivakumaran (Honours Student)
      </td>
      <td>
        email: ksivakumaran@student.unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Mr Jack Neeson (Ph.D Student)
      </td>
      <td>
        email: j.neeson@student.unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Mr Sam Saber (Ph.D Student)
      </td>
      <td>
        email: saam.s@student.unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Mr Paul Garrett (Research Assistant)
      </td>
      <td>
        email: paul.garrett@unimelb.edu.au
      </td>
    </tr>
  </table>
</div>
<div>
  <h2>Introduction</h2>
  <p>
    We would like to invite you to participate in a project on visual
    short-term memory and decision making. This research aims to
    investigate how information is stored in visual short-term memory
    when attention is divided, and how this affects decision-making
    processes. We examine these issues under different decision-making
    conditions, including two-choice responses and responses in a
    continuous domain using eye or hand movements.
  </p>
  <h2>What I will be asked to do?</h2>
  <p>
    Should you agree to participate, you will be asked to complete a
    single experimental session of approximately 45 minutes in length.
    In this session you will be asked to complete simple
    computer-based experiments requiring a perceptual judgment about
    stimuli that will be briefly presented on a computer screen.
  </p>
  <p>
    Throughout the task you will be asked to respond as quickly and
    accurately as possible. Each session consists of multiple smaller
    blocks, between which you can take a break.
  </p>
  <h2>What are the risks?</h2>
  <p>
    Whilst performing the task is repetitive, it is not difficult, and
    no significant discomfort or harm is expected to result from
    participation in these activities. It is possible that you will
    experience mild discomfort due to the repetitiveness of the task,
    and if you feel that your mood has been negatively affected you
    can contact a psychology counselling service such as LifeLine (13
    11 14) or the University of Melbourne Psychology Clinic (Tel: 03
    9035 5180;
    email: <a href="mailto:clinic@psych.unimelb.edu.au">clinic@psych.unimelb.edu.au</a>).
  </p>
  <h2>What are the benefits?</h2>
  <p>
    This study will produce new insights into the capacity limitations
    of visual short-term memory, and will likely result in conference
    presentations and articles in scholarly journals. Funding for this
    project has been provided by the Australian Research Council.
  </p>
  <p>
    If you agree to participate, this will satisfy part of your course
    credit for the Research Experience Program (REP).
  </p>
  <h2>How will my confidentiality be protected?</h2>
  <p>
    If you choose to participate in this study, your responses in the
    experiment will be recorded, stored and processed by the
    researchers in password protected files. These responses may form
    part of later published journal articles or be presented at
    academic conferences. Your confidentiality will be protected
    subject to legal limitations.
  </p>
  <p>
    The nature of the project means that the information provided will
    not be sensitive (consisting of reaction times and accuracy data
    concerning simple perceptual judgments), and cannot be used to
    infer sensitive data. Your browser version, IP address, and screen
    resolution will be automatically determined and stored with your
    data to determine compatibility with the experiment.
  </p>
  <h2>What if I want to withdraw from the Research?</h2>
  <p>
    Participation in this research is completely voluntary. You are
    free to withdraw at any time and to withdraw any unprocessed data
    previously supplied. This would have no effect on your
    relationship with any member of the School of Psychological
    Sciences. It would not affect your grades, assessment or any
    treatment that you would otherwise be eligible for.
  </p>
  <h2>Where can I get further information?</h2>
  <p>
    If you have not understood any of this information please contact
    any of the researchers listed above. This research project has
    been approved by the Human Research Ethics Committee of The
    University of Melbourne. If you have any concerns or complaints
    about the conduct of this research project, which you do not wish
    to discuss with the research team, you should contact the Manager,
    Human Research Ethics, Office for Research Ethics and Integrity,
    University of Melbourne, VIC 3010. Tel: +61 3 8344 2073 or Fax:
    +61 3 9347 6739 or Email: HumanEthicscomplaints@unimelb.edu.au.
    All complaints will be treated confidentially. In any
    correspondence please provide the name of the research team or the
    name or ethics ID number of the research project.
  </p>
  <h2>How do I agree to participate?</h2>
  <p>
    If you wish to participate please read and sign the consent form
    on the next web page.
  </p>
  <p>
    If you do, and you are a student of any of the researchers,
    participation in this experiment will not affect your grades in
    any way.
  </p>
  <p>
    Thank you for taking the time to read this document.
  </p>
</div>
<div>HREC Number: 1646144.5. Date: 01/05/2020</div>
<div>
  <form id="pls-form" method="POST" action="/pls">
    <input type="submit" value="I have read and understood the Plain Language Statement">
  </form>
</div>
{% endblock %}
