{% extends "main.html" %}
{% block title %}Experiment Entry ({{ exp_name }}) - Vision and Attention Lab{% endblock %}
{% block heading %}
{{ exp_name }}
{% endblock %}
{% block content %}
<p>
  <b>This experiment is designed for Mozilla Firefox or Google
    Chrome. Please use these browsers if available to complete this
    experiment.</b>
</p>
<p>
  By entering your participant ID below, you accept that a cookie will be stored
  on your computer. Your participant ID should be the same as your Prolific ID.
</p>
<div style="color: red; font-weight: bold">{{ msg }}</div>
<form id="experiment-entry-point" method="POST" action="/entry-public">
  <label for="extid">Participant ID:</label>
  <input type="text" id="extid" name="extid"><br><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
