{% extends "main.html" %}
{% block heading %}Vision and Attention Lab{% endblock %}
{% block content %}
<p>
  This is the landing page for an experiment run by the Vision and
  Attention Laboratory within the Melbourne School of Psychological
  Sciences at the University of Melbourne.
</p>
<p>
  Participation within this experiment is only currently available to
  participants through Prolific.
</p>
<p>
  If you have been directed to this page by mistake, please contact
  Jason Zhou
  at <a href="mailto:jasonz1@student.unimelb.edu.au">jasonz1@student.unimelb.edu.au</a>.
</p>
{% endblock %}
