{% extends "main.html" %}
{% block title %}Plain Language Statement ({{ exp_name }}) - Vision and Attention Lab {% endblock %}
{% block heading %}Plain Language Statement{% endblock %}
{% block content %}
<div>
  PROJECT TITLE: Decision-making in Source Memory
</div>
<div>
  <table>
    <tr>
      <td>
        Prof Philip Smith (Principal Researcher)
      </td>
      <td>
        Tel: 8344 6378; email: philipls@unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Dr Adam Osth (Co-researcher)
      </td>
      <td>
        email: adam.osth@unimelb.edu.au
      </td>
    </tr>
    <tr>
      <td>
        Mr Jason Zhou (PhD student)
      </td>
      <td>
        email: jasonz1@student.unimelb.edu.au
      </td>
    </tr>
  </table>
</div>
<div>
  <h2>Introduction</h2>
  <p>
    We would like to invite you to participate in a project on
    decision-making in source memory. This research aims to
    investigate the precision and response times in a memory task to
    determine the nature of how memory fails.
  </p>
  <h2>What I will be asked to do?</h2>
  <p>
    You will be asked to memorise words located along the outside of a circle.
    After performing two-digit arithmetic tasks for 30 seconds, you will
    be presented with 20 words. You will then be asked to indicate if the presented
    word was previously studied, and if so, where on the circle that word was located
    using a computer mouse.
  </p>
  <p>
    Throughout the task you will be asked to respond as quickly and
    accurately as possible. Each session consists of multiple smaller
    blocks, between which you can take a break.
  </p>
  <h2>What are the risks?</h2>
  <p>
    As the study involves measuring task accuracy and response times,
    the risks to the participant are minimal. The main foreseeable
    risk is strain resulting from sitting posture in the computer
    chair, or in the hand from using your computer mouse. You will have
    opportunity to take rest breaks to further minimise these risks.
    The emotionally neutral words will be randomly selected from a
    pre-determined list.
  </p>
  <h2>What are the benefits?</h2>
  <p>
    If you are a paid participant, you will be paid $10 per session for your
    participation. If you are a participant in the Research Experience Program
    (REP) you will be granted credit towards participation in the REP.
    The results of this project will be diagnostic of two competing
    theories of source memory function, and how memory works in a more
    general sense. It is possible that these results may be published
    in a peer-reviewed journal. Funding for this project comes from
    the Australian Research Council Discovery (ARC) Grant awarded to
    Prof. Philip Smith.
  </p>
  <h2>How will my confidentiality be protected?</h2>
  <p>
    Names and data will be stored separately, on password-protected
    computers in a secure building. The participant ID numbers
    required to match a participant to their data will be physically
    kept in a locked filing cabinet, also located in a secure
    building.
  </p>
  <h2>What if I want to withdraw from the Research?</h2>
  <p>
    Participation in this research is completely voluntary. You are
    free to withdraw at any time and to withdraw any unprocessed data
    previously supplied. This would have no effect on your
    relationship with any member of the School of Psychological
    Sciences. It would not affect your grades, assessment or any
    treatment that you would otherwise be eligible for.

  <h2>Where can I get further information?</h2>
  <p>
    If you have not understood any of this information please contact
    any of the researchers listed above. This research project has
    been approved by the Human Research Ethics Committee of The
    University of Melbourne. If you have any concerns or complaints
    about the conduct of this research project, which you do not wish
    to discuss with the research team, you should contact the Manager,
    Human Research Ethics, Office for Research Ethics and Integrity,
    University of Melbourne, VIC 3010. Tel: +61 3 8344 2073 or Fax:
    +61 3 9347 6739 or Email: HumanEthicscomplaints@unimelb.edu.au.
    All complaints will be treated confidentially. In any
    correspondence please provide the name of the research team or the
    name or ethics ID number of the research project.
  </p>
  <h2>How do I agree to participate?</h2>
  <p>
    If you wish to participate please read and sign the consent form
    on the next web page.
  </p>
  <p>
    Thank you for taking the time to read this document.
  </p>
</div>
<div>HREC Number: 1749270.3. Date: 11/06/2020</div>
<div>
  <form id="pls-form" method="POST" action="/pls">
    <input type="submit" value="I have read and understood the Plain Language Statement">
  </form>
</div>
{% endblock %}
