{% extends "main.html" %}
{% block title %}Experimental session complete{% endblock %}
{% block heading %}Session complete{% endblock %}
{% block content %}
<p>
  You have completed one of the sessions of this multi-session
  experiment. You will need to complete the remaining session or
  sessions after an enforced delay. To access the remaining session,
  <a href="/entry">simply return to the original link again</a>
  (depending on your computer, you may need to re-enter your
  participant number).
</p>
{% endblock %}
